In [1]:
import pandas as pd

In [2]:
path='/content/spambase.csv'
df=pd.read_csv(path)

In [3]:
df.sample(5)
# As we can see we have all numerical data

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.41,0.42,0.43,0.778,0.44,0.45,3.756,61,278,1
1483,0.00,0.26,0.00,0.0,0.26,0.00,0.0,0.00,0.00,1.88,...,0.407,0.067,0.000,0.033,0.000,0.000,5.009,55,506,1
2435,0.00,0.00,2.91,0.0,0.00,0.00,0.0,0.00,0.00,0.00,...,0.000,0.389,0.000,0.389,0.000,0.000,1.260,3,29,0
3371,0.23,0.23,0.00,0.0,0.23,0.23,0.0,0.47,0.23,0.23,...,0.000,0.000,0.000,0.370,0.205,0.041,2.281,24,146,0
3465,0.26,0.26,0.00,0.0,0.52,0.26,0.0,0.52,0.00,0.00,...,0.065,0.000,0.032,0.000,0.000,0.000,1.455,12,115,0
1679,0.00,0.00,0.68,0.0,0.00,0.00,0.0,0.00,0.00,0.00,...,0.000,0.000,0.000,0.309,0.000,0.000,1.600,4,32,1

In [4]:
df.shape

(4600, 58)

In [5]:
df.isnull().sum()
# There is no null values in data frame

0         0
0.64      0
0.64.1    0
0.1       0
0.32      0
0.2       0
0.3       0
0.4       0
0.5       0
0.6       0
0.7       0
0.64.2    0
0.8       0
0.9       0
0.10      0
0.32.1    0
0.11      0
1.29      0
1.93      0
0.12      0
0.96      0
0.13      0
0.14      0
0.15      0
0.16      0
0.17      0
0.18      0
0.19      0
0.20      0
0.21      0
0.22      0
0.23      0
0.24      0
0.25      0
0.26      0
0.27      0
0.28      0
0.29      0
0.30      0
0.31      0
0.33      0
0.34      0
0.35      0
0.36      0
0.37      0
0.38      0
0.39      0
0.40      0
0.41      0
0.42      0
0.43      0
0.778     0
0.44      0
0.45      0
3.756     0
61        0
278       0
1         0
dtype: int64

In [6]:
df.duplicated().sum()
# dataframe has 391 duplicates values. The duplicates values may put inverse impact on ML model.So we will remove them.

391

In [7]:
df.drop_duplicates(inplace=True)
# we have remove all duplicates values .

In [8]:
df.duplicated().sum()
# Now there is no duplicates values

0

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1:]

In [24]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=0)

In [25]:
X_train.shape

(3367, 57)

In [26]:
from sklearn.naive_bayes import GaussianNB,BernoulliNB
#We are using both Gaussian naive bayes and bernoulli naive bayes for getting highest accuracy

In [27]:
nb1=GaussianNB()
nb2=BernoulliNB()

In [28]:
nb1.fit(X_train,y_train)
nb2.fit(X_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

BernoulliNB()

In [29]:
y_pred1=nb1.predict(X_test)
y_pred2=nb2.predict(X_test)

In [30]:
from sklearn.metrics import accuracy_score
#check the accuracy score of tests modulle using sklearn library

In [31]:
print("Gaussian accuracy", accuracy_score(y_test,y_pred1))
print("Bernolli accuracy", accuracy_score(y_test,y_pred2))
# Bernoulli gives us highest accuracy than gaussian

Gaussian accuracy 0.8147268408551069
Bernolli accuracy 0.8847980997624703